*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    width: 390px;
    height: 844px;
    justify-items: center;
    border: black solid 1px;
    background-color: rgb(245, 245, 245);
}
a{
    text-decoration: none;
    color: rgb(2, 42, 2);
}
.bus{
    img{
        width: 388px;
    }
}
form{
    margin-top: 60px;
    input{
        padding: 6px;
        border-radius: 5px;
        border: black solid 1px;
        margin-top: 5px;
        width: 200px;

    }
}
button{
    padding: 10px;
    background-color: rgb(255, 165, 30);
    color: rgb(2, 42, 2);
    border-radius: 30px;
    border: none;
    width: 130px;
    margin-top: 50px;
    margin-left: 10px;
    }