*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    width: 390px;
    height: 844px;
    border: black solid 1px;
    background-color: #F9F6F6;
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(2, 42, 2);
}
 .top{
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
 }
 .service{
    display: flex;
    border: black solid 1px;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    img{
        width: 30px;
    }
 }
 form{
    margin-top: 30px;
    input{
        padding: 7px;
        border-radius: 5px;
        width: 230px;
        margin-top: 10px;
        border: black solid 1px;
    }
 }

button{
    padding: 10px;
    background-color: rgb(255, 165, 30);
    color: rgb(2, 42, 2);
    border-radius: 20px;
    border: none;
    width: 150px;
    margin-top: 50px;
    margin-left: 35px;
 }
